body {
  background-color: black
}

.page{
  background-color: #6b6b6b;
  font-family: verdana;
  color: #DCDCDCDC;
  margin: 2%;
  width: 90%;
  max-width: 500px;

}

.navbar{
  padding: 0;
  display: inline-block;
}

.content {
  padding: 20px;
}

a {
  color: lightskyblue;
}

p {
    word-wrap: break-word;
}

/* Navbar from W3 schools */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #333
}

li a:hover {
  background-color: slategray;
}

.active {
  background-color: black;
}
